In [ ]:
# Importing important libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import requests
import openpyxl

In [ ]:
bonus_cost_link = 'https://docs.google.com/uc?export=download&id=12xPdp6PEJEJP8qyVaaj7Qey6ZR0AkbVx' # 1 sheet
first_bet_link = 'https://docs.google.com/uc?export=download&id=1_s8Kbv7KgdJlY1eJueW6hKiI2gfAF1PR' # 1 sheet
first_deposit_link = 'https://docs.google.com/uc?export=download&id=18QgUwvY_yQml8bYa21chHS0AlaeAE45N' # 2 sheets
player_activity_link = 'https://docs.google.com/uc?export=download&id=16037oorbl30sMudPRQKNGO5xXg27773a' # 2 sheets
player_details_link = 'https://docs.google.com/uc?export=download&id=1WZ6PBVqSRj77feQHNojp9Q5a5ibCfVJz' # 2 sheets

In [ ]:
player_details = pd.read_excel(player_details_link, sheet_name=0)
bonus_cost = pd.read_excel(bonus_cost_link, sheet_name=0)
first_bet = pd.read_excel(first_bet_link, sheet_name=0)
first_deposit = pd.read_excel(first_deposit_link, sheet_name=0)

In [ ]:
player_activity = pd.read_excel(player_activity_link, sheet_name=0)

In [ ]:
pa = player_activity.copy()

In [ ]:
print(pa.info())

In [ ]:
print(pa)

In [ ]:
pdd = player_details.copy()
bc = bonus_cost.copy()
fb = first_bet.copy()
fd = first_deposit.copy()

In [ ]:
# prompt: remove first column (NaN column) and then Unname: 0 row completely and make the first row the header  from pdd

# Drop the first column (NaN column)
pdd = pdd.iloc[:, 1:]

# Reset the index to make the first row the header
pdd = pdd.reset_index(drop=True)

# Remove the 'Unnamed: 0' column if it exists
if 'Unnamed: 0' in pdd.columns:
  pdd = pdd.drop('Unnamed: 0', axis=1)

# Set the first row as the header
pdd.columns = pdd.iloc[0]
pdd = pdd[1:]

In [ ]:
print("The length of Player Details is", len(pdd) - 1)

In [ ]:
# prompt: remove first column (NaN column) and then Unname: 0 row completely and make the first row the header  from bc, fd, fb

# Bonus Cost
bc = bc.iloc[:, 1:]  # Drop the first column (NaN column)
bc = bc.reset_index(drop=True)  # Reset the index
if 'Unnamed: 0' in bc.columns:
  bc = bc.drop('Unnamed: 0', axis=1)  # Remove 'Unnamed: 0' column
bc.columns = bc.iloc[0]  # Set first row as header
bc = bc[1:]
print("bc", bc)
print()
print()

# First Deposit
fd = fd.iloc[:, 1:]
fd = fd.reset_index(drop=True)
if 'Unnamed: 0' in fd.columns:
  fd = fd.drop('Unnamed: 0', axis=1)
fd.columns = fd.iloc[0]
fd = fd[1:]
print("fd", fd)
print()
print()

# First Bet
fb = fb.iloc[:, 1:]
fb = fb.reset_index(drop=True)
if 'Unnamed: 0' in fb.columns:
  fb = fb.drop('Unnamed: 0', axis=1)
fb.columns = fb.iloc[0]
fb = fb[1:]
print("fb", fb)
print()
print()

# Player Activity
pa = pa.iloc[:, 1:]
pa = pa.reset_index(drop=True)
if 'Unnamed: 0' in pa.columns:
  pa = pa.drop('Unnamed: 0', axis=1)
pa.columns = pa.iloc[0]
pa = pa[1:]
print("pa", pa)

In [ ]:
# prompt: I want to know the number of entries where the Src_Player_Id is unique in pdd

# Count unique Src_Player_Ids
num_unique_players = pdd['Src_Player_Id'].nunique()

print("Number of unique Src_Player_Ids:", num_unique_players)

In [ ]:
# prompt: create a dataframe clean_fd where only entries who's Src_Player_Id is in pdd are included.
# Also, group them by Src_Player_ID and only keep the first entry
# Also, filter out the entries where First_Deposit_Date First_Deposit_Channel First_Deposit_Method First_Deposit_Amount columns all have the value NaN

# Filter fd based on Src_Player_Id in pdd
clean_fd = fd[fd['Src_Player_Id'].isin(pdd['Src_Player_Id'])]

# Group by Src_Player_ID and keep the first entry
clean_fd = clean_fd.groupby('Src_Player_Id').first().reset_index()

# Filter out entries with all NaN values in specified columns
clean_fd = clean_fd.dropna(subset=['First_Deposit_Date', 'First_Deposit_Channel', 'First_Deposit_Method', 'First_Deposit_Amount'], how='all')

converted = len(clean_fd)


# Convert rate is # important
Rate_of_conversion = (converted/num_unique_players) * 100
print(round(Rate_of_conversion,2))

In [ ]:
print("pa","\n \n", pa)
print("pd","\n \n", pd)
print("bc","\n \n", bc)
print("fb","\n \n", fb)
print("fd","\n \n", fd)

In [ ]:
# prompt: export everything to csv, I want to export it to mysql. and keep the name, don't change pdd to player_details and similar

pdd.to_csv('pdd.csv', index=False)
pa.to_csv('pa.csv', index=False)
bc.to_csv('bc.csv', index=False)
fb.to_csv('fb.csv', index=False)
fd.to_csv('fd.csv', index=False)

In [ ]:
# prompt: count the number of entries in fd.csv

!wc -l fd.csv