In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import openpyxl

In [ ]:
#df1=pd.read_excel(r"C:\Users\bhupe\Downloads\Construct week 2\BonusCost_Data.xlsx")
#df2=pd.read_excel(r"C:\Users\bhupe\Downloads\Construct week 2\First_Bet_Data.xlsx")
#df3=pd.read_excel(r"C:\Users\bhupe\Downloads\Construct week 2\First_Deposit_Data.xlsx")
#df4=pd.read_excel(r"C:\Users\bhupe\Downloads\Construct week 2\Player_Activity_Data.xlsx")
#df5=pd.read_excel(r"C:\Users\bhupe\Downloads\Construct week 2\Player_Details.xlsx")

In [6]:
Player_details=pd.read_csv(r"C:\Users\bhupe\Downloads\Construct week 2\Player_Details CSV.csv")
player_activity=pd.read_csv(r"C:\Users\bhupe\Downloads\Construct week 2\Player_Activity_Data CSV.csv")
fixed_deposit=pd.read_csv(r"C:\Users\bhupe\Downloads\Construct week 2\First_Deposit_Data CSV.csv")
first_bet=pd.read_csv(r"C:\Users\bhupe\Downloads\Construct week 2\First_Bet_Data CSV.csv")
bonus_Cost=pd.read_csv(r"C:\Users\bhupe\Downloads\Construct week 2\BonusCost_Data CSV.csv")

C:\Users\bhupe\AppData\Local\Temp\ipykernel_7132\1965936493.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  Player_details=pd.read_csv(r"C:\Users\bhupe\Downloads\Construct week 2\Player_Details CSV.csv")
C:\Users\bhupe\AppData\Local\Temp\ipykernel_7132\1965936493.py:2: DtypeWarning: Columns (0,4,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  player_activity=pd.read_csv(r"C:\Users\bhupe\Downloads\Construct week 2\Player_Activity_Data CSV.csv")
C:\Users\bhupe\AppData\Local\Temp\ipykernel_7132\1965936493.py:4: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  first_bet=pd.read_csv(r"C:\Users\bhupe\Downloads\Construct week 2\First_Bet_Data CSV.csv")

TABLE 1 CLEANING (Player_details)

In [37]:
Player_details.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Src_Player_Id,Signup_Date,acquisition_channel,src_advertiser_id,Gender,Date_Of_Birth,Internal_Player_YN
1,12584958,2019-02-23 17:24:49,NaN,999999,M,1991-08-05 00:00:00,N
2,12356925,2019-01-07 15:57:11,NaN,999999,M,1993-09-09 00:00:00,N
3,12500831,2019-02-10 08:31:13,NaN,999999,M,1971-10-15 00:00:00,N
4,12660009,2019-03-12 09:42:53,NaN,999999,M,2000-12-15 00:00:00,N

In [38]:
Player_details.columns=Player_details.iloc[0]
Player_details=Player_details[1:]

In [39]:
Player_details =Player_details.reset_index(drop=True)

In [40]:
Player_details.head()

,Src_Player_Id,Signup_Date,acquisition_channel,src_advertiser_id,Gender,Date_Of_Birth,Internal_Player_YN
0,12584958,2019-02-23 17:24:49,NaN,999999,M,1991-08-05 00:00:00,N
1,12356925,2019-01-07 15:57:11,NaN,999999,M,1993-09-09 00:00:00,N
2,12500831,2019-02-10 08:31:13,NaN,999999,M,1971-10-15 00:00:00,N
3,12660009,2019-03-12 09:42:53,NaN,999999,M,2000-12-15 00:00:00,N
4,12447120,2019-01-28 09:53:42,NaN,999999,M,1994-03-07 00:00:00,N

In [41]:
Player_details.shape

(1048574, 7)

In [42]:
Player_details.isnull().sum()

0
Src_Player_Id          755789
Signup_Date            755789
acquisition_channel    847295
src_advertiser_id      757855
Gender                 755800
Date_Of_Birth          755789
Internal_Player_YN     755789
dtype: int64

In [43]:
Player_details=Player_details.dropna()

In [44]:
Player_details.isnull().sum()

0
Src_Player_Id          0
Signup_Date            0
acquisition_channel    0
src_advertiser_id      0
Gender                 0
Date_Of_Birth          0
Internal_Player_YN     0
dtype: int64

TABLE 2 Cleaning (Player_activity)

In [20]:
player_activity.head()
player_activity.columns=player_activity.iloc[0]
player_activity=player_activity[1:]
player_activity=player_activity.reset_index(drop=True)

In [21]:
player_activity

,src_player_id,ActivityMonth,Product,SubProduct,ActivePlayerDays,Bet_Amount,Win_Amount,Gross_Win,Net_Gross_Win
0,16585649,2020-08-31,SportsBook,Livebook,1,500,0,500,420
1,12845036,2019-05-31,SportsBook,Prematch,28,1229,1178,42,35
2,12720869,2021-06-30,eGaming,Non Table Games,1,73,46,27,23
3,18979743,2021-02-28,eGaming,Non Table Games,1,52,22,30,25
4,12580168,2020-12-31,eGaming,Non Table Games,1,74,55,19,16
...,...,...,...,...,...,...,...,...,...
860225,13439064,2019-09-30,SportsBook,Livebook,2,255,0,255,214
860226,16005291,2020-07-31,eGaming,Non Table Games,4,123,54,69,58
860227,15816105,2021-05-31,eGaming,Table Games,1,125,50,75,63
860228,13435803,2020-12-31,eGaming,Non Table Games,1,31,11,20,17
860229,12742712,2021-05-31,SportsBook,Prematch,3,278,560,-281,-236

In [22]:
player_activity.isnull().sum()

0
src_player_id       0
ActivityMonth       0
Product             0
SubProduct          0
ActivePlayerDays    0
Bet_Amount          0
Win_Amount          0
Gross_Win           0
Net_Gross_Win       0
dtype: int64

TABLE 3 Cleaning (Fixed_deposit)

In [23]:
fixed_deposit.head()

,Src_Player_Id,First_Deposit_Date,First_Deposit_Channel,First_Deposit_Method,First_Deposit_Amount
0,13472812,NaN,NaN,NaN,NaN
1,13331793,NaN,NaN,NaN,NaN
2,13116242,NaN,NaN,NaN,NaN
3,12689016,NaN,NaN,NaN,NaN
4,12681525,NaN,NaN,NaN,NaN

In [25]:
fixed_deposit.isnull().sum()

Src_Player_Id                 0
First_Deposit_Date       165524
First_Deposit_Channel    165524
First_Deposit_Method     165524
First_Deposit_Amount     165524
dtype: int64

In [26]:
fixed_deposit.shape

(292785, 5)

In [28]:
fixed_deposit=fixed_deposit.dropna()

In [31]:
fixed_deposit.isnull().sum()

Src_Player_Id            0
First_Deposit_Date       0
First_Deposit_Channel    0
First_Deposit_Method     0
First_Deposit_Amount     0
dtype: int64

TABLE 4 Cleaning (First_Bet)

In [45]:
first_bet.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Src_Player_Id,System_First_Bet_Datetime,System_First_BetSlip_Amt,System_First_Bet_Product_Group,System_First_Bet_Product,System_First_Bet_Channel,System_First_Bet_Platform
1,15643431,2020-10-09 03:57:29,3,eGaming,Non Table Games,Online,Mobile
2,13593034,2019-09-27 15:03:58,10,Sports,Prematch,Online,Mobile
3,15894194,2021-02-28 02:22:07,2,eGaming,Non Table Games,Online,Web
4,13238000,2019-07-08 10:39:45,0,eGaming,Non Table Games,Online,Mobile

In [46]:
first_bet.columns=first_bet.iloc[0]
first_bet=first_bet[1:]
first_bet=first_bet.reset_index(drop=True)

In [47]:
first_bet.head()

,Src_Player_Id,System_First_Bet_Datetime,System_First_BetSlip_Amt,System_First_Bet_Product_Group,System_First_Bet_Product,System_First_Bet_Channel,System_First_Bet_Platform
0,15643431,2020-10-09 03:57:29,3,eGaming,Non Table Games,Online,Mobile
1,13593034,2019-09-27 15:03:58,10,Sports,Prematch,Online,Mobile
2,15894194,2021-02-28 02:22:07,2,eGaming,Non Table Games,Online,Web
3,13238000,2019-07-08 10:39:45,0,eGaming,Non Table Games,Online,Mobile
4,12866848,2019-04-27 14:20:27,0,eGaming,Non Table Games,Online,Mobile

In [48]:
first_bet.isnull().sum()

0
Src_Player_Id                          0
System_First_Bet_Datetime         133619
System_First_BetSlip_Amt          133619
System_First_Bet_Product_Group    133619
System_First_Bet_Product          133619
System_First_Bet_Channel          133619
System_First_Bet_Platform         133619
dtype: int64

In [49]:
first_bet.shape

(292785, 7)

In [50]:
first_bet=first_bet.dropna()

In [51]:
first_bet.isnull().sum()

0
Src_Player_Id                     0
System_First_Bet_Datetime         0
System_First_BetSlip_Amt          0
System_First_Bet_Product_Group    0
System_First_Bet_Product          0
System_First_Bet_Channel          0
System_First_Bet_Platform         0
dtype: int64

TABLE 5 Cleaning (Bonus COst)

In [52]:
bonus_Cost.head()

   Src_PLAYER_ID ActivityMonth     Product  BONUS_COST
0       16051927    2020-06-30     eGaming          50
1       19309540    2021-02-28     eGaming          40
2       13176431    2020-01-31     eGaming          15
3       12405628    2019-02-28  SportsBook          30
4       17486248    2021-02-28     eGaming          25

In [53]:
bonus_Cost.isnull().sum()

Src_PLAYER_ID    0
ActivityMonth    0
Product          0
BONUS_COST       0
dtype: int64

In [54]:
Player_details.to_csv("Player_details Cleaned.csv")
player_activity.to_csv("player_activity Cleaned.csv")
fixed_deposit.to_csv("fixed_deposit Cleaned.csv")
first_bet.to_csv("first_bet Cleaned.csv")
bonus_Cost.to_csv("bonus_Cost Cleaned.csv")